{% extends "appUsers/base.html" %}

{% load static %}

{% block datosDinamicos %}
<!-- Header-->
<header class="py-5">
    <div class="container px-5 pb-5">
        <section>
            <div class="container px-3" style="margin-top: 50px;">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Eliminar Idioma</span></h1>
                </div>
                <div class="row">
                    <div class="row">
                        <p>¿Está seguro que desea eliminar el idioma "{{ idioma.idioma }}"?</p>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit">Eliminar</button>
                        </form>
                 </div>
                </div>
            </div>
        </section>
    </div>
</header>

{% endblock %}
