{% extends "appUsers/base.html" %}

{% load static %}

{% block datosDinamicos %}
<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Noticias</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
              <!-- section add-->
             <!-- section search-->
             <div class="card" style="margin-top: 20px;">
              <div class="card-header">
                Buscar Contenido (por titulo)
              </div>
              <div class="card-body">
                <section style="margin-bottom: 50px;">  
                  <form action="{% url 'NoticiasSearch' %}" method="GET" class="mb-3">{% csrf_token %}
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Titulo a buscar:</label>
                      <input type="text" class="form-control" name="news_search" id="news_search" placeholder="PHP">
                    </div>
                    <div class="mb-3">
                      <input class="btn btn-primary" type="submit" value="Buscar">
                    </div>
                  </form>
                  {% if respSearch %}
                  <div class="alert alert-info" role="alert">
                    {{respSearch}}
                  </div>
                  {% endif %}
                  <div class="card-body">
                    <section>
                      {% if newsSearch %}
                      <table class="table caption-top">
                          <thead>
                            <tr>
                              <th scope="col">Resultados</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for r in newsSearch %}
                            <tr>
                              <td>{{r.titulo}}</td>
                            </tr>
                            {% endfor%}
                          </tbody>
                      </table>
                      {% endif %}
                  </section>
                </section>
              </div>
              </div>
              <!-- section list-->
              
              <section style="margin-top: 40px;">
                {% for info in publicacion %}
                <div class="card mb-3" style="margin-top: 40px;">
                  {% if info.imagen %}
                      <img src="{{ info.imagen.url }}" class="card-img-top img-fluid w-100" alt="...">
                  {% else %}
                      <img src="" class="card-img-top img-fluid w-100" alt="...">
                  {% endif %}
                  <div class="card-body">
                      <h5 class="card-title">{{ info.titulo }}</h5>
                      <p class="card-text">{{ info.contenido }}</p>
                      <p class="card-text"><small class="text-body-secondary">Autor: <a href="{% url 'unperfil' nombre=info.user %}">{{ info.user }}</a></small></p>
                  </div>
              </div>
                {% endfor%}
              </section>
              
        </div>
    </div>
</div>
{% endblock %}
