{% extends "appUsers/base.html" %}

{% load static %}

{% block datosDinamicos %}
<!-- Header-->
<header class="py-5">
    <div class="container px-5 pb-5">
        <section>
            <div class="container px-3" style="margin-top: 50px;">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Lista de skills</span></h1>
                </div>
                <div class="row">
                    <div class="row">
                        <table class="table caption-top">
                         <thead>
                            <tr>
                              <th scope="col">Skill</th>
                              <th scope="col">Acciones</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for aptitud in skills %}
                            <tr>
                              <td>{{ aptitud.aptitud }}</td>
                              <td><a href="{% url 'skill_detalle' aptitud.pk %}">[Detalle] </a>-<a href="{% url 'skill_update' aptitud.pk %}">[Modificar] </a>-<a href="{% url 'skill_delete' aptitud.pk %}">[Eliminar] </a></td>
                            </tr>
                            {% endfor%}
                          </tbody>
                        </table>
                 </div>
                 <div class="row" style="margin-top: 20px;">
                     
                    <a href="{% url 'skill_create' %}">Agregar una Nueva Skill</a>
               
                 </div>
                
                </div>
            </div>
        </section>
    </div>
</header>

{% endblock %}
