{% extends "appUsers/base.html" %}

{% load static %}

{% block datosDinamicos %}
<!-- Header-->
<header class="py-5">
    <div class="container px-5 pb-5">
        <section>
            <div class="container px-3" style="margin-top: 50px;">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">About me</span></h1>
                    
                </div>
                <div class="row">
                     <h2 class="display-8 fw-bolder"><span class="text-gradient d-inline">Es una Web donde sus usuarios se pueden loguear y llenar sus datos de curriculo y hoja de vida. Adicionalmente los usuarios pueden publicar articulos que pueden ser vistos por los otros usuarios.

                        Un usuario que no esté registrado puede ver algunas partes de la web, asi como tambien las ultimas 10 publicaciones.
                        
                        Otra parte donde puede ingresar es ver el perfil de los que publicaron en esas 10. Si quiere publicar su información o ver otros perfiles debe registrarse.
                        
                        El publico es para personas que buscan empleo y reclutdores.</span></h2>
                </div>
            </div>
        </section>
        
    </div>
</header>

{% endblock %}