<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>RecruitRadar</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-...">
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
                <div class="container px-5">
                    <a class="navbar-brand" href="{% url 'Home' %}"><span class="fw-bolder text-primary">RecruitRadar</span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                            <li class="nav-item"><a class="nav-link" href="{% url 'Aboutme' %}">Quienes Somos</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'Contact' %}">Contacto</a></li>
                            {% if request.user.is_authenticated %}
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger">{{ request.user.username}}<img src="{{avatar}}" alt="Foto de perfil" class="img-fluid rounded-circle" width="50" style="margin-left: 10px;"></button>
                                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                  <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="{% url 'Perfil' %}">Mi Perfil</a></li>
                                  <li><a class="dropdown-item" href="{% url 'AgregarAvatar' %}">Mi Avatar</a></li>
                                  <li><a class="dropdown-item" href="{% url 'Noticias' %}">Noticias</a></li>
                                  <li><a class="dropdown-item" href="{% url 'DatosPersonales' %}">Datos Personales</a></li>
                                  <li><a class="dropdown-item" href="{% url 'Educacion' %}">Mi Educación</a></li>
                                  <li><a class="dropdown-item" href="{% url 'Experiencia' %}">Mi  Experiencia Laboral</a></li>
                                  <li><a class="dropdown-item" href="{% url 'Idiomas' %}">Mis Idiomas</a></li>
                                  <li><a class="dropdown-item" href="{% url 'Skills' %}">Mis Skills</a></li>
                                  <li><a class="dropdown-item" href="{% url 'Publicaciones' %}">Mis Publicaciones</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item" href="{% url 'Logout' %}">Salir</a></li>
                                </ul>
                              </div>
                              
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'Login' %}">Iniciar Sesión</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'Register' %}">Registrar</a></li>
                            {% endif %}
                            
                        </ul>
                    </div>
                </div>
            </nav> 
            {% block datosDinamicos %}      
            
            {% endblock %}
        </main>
        <!-- Footer-->
        <footer class="bg-white py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0">Copyright &copy; Simon Guzman 2024</div></div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
