{% extends "appUsers/base.html" %}

{% load static %}

{% block datosDinamicos %}
<!-- Header-->
<header class="py-5">
    <div class="container px-5 pb-5">
        <section>
            <div class="container px-3" style="margin-top: 50px;">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Editar Usuario</span></h1>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="card" style="margin-top: 20px;">
                            <div class="card-header">
                              Agregar Estudios
                            </div>
                            <div class="card-body">
                              <section style="margin-bottom: 50px;">  
                                    <form  action="" method="POST">
                                            {% csrf_token %}
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="{{ form.username.id_for_label }}" class="form-label">{{ form.email.label }}</label>
                                                {{ form.email }}
                                            </div>
                                            <div class="mb-3">
                                                <label for="{{ form.password1.id_for_label }}" class="form-label">{{ form.password1.label }}</label>
                                                {{ form.password1 }}
                                            </div>
                                            <div class="mb-3">
                                                <label for="{{ form.password2.id_for_label }}" class="form-label">{{ form.password2.label }}</label>
                                                {{ form.password2 }}
                                            </div>
                                        </div>
                                        <button type="submit">Guardar</button>                         
                                        
                                    </form>
                              </section>
                            </div>
                        </div>
                        {% if resp %}
                        <div class="alert alert-info" role="alert">
                          {{resp}}
                        </div>
                        {% endif %}

                 </div>
                </div>
            </div>
        </section>
    </div>
</header>

{% endblock %}
