{% extends "appUsers/base.html" %}

{% load static %}

{% block datosDinamicos %}
<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Administración de Publicaciones</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
              <!-- section add-->
              <div class="card" style="margin-top: 20px;">
                <div class="card-header">
                  Agregar Nueva Publicacion
                </div>
                <div class="card-body">
                  <section style="margin-bottom: 50px;">  
                    {% if miFormulario.errors %}
                      <div class="alert alert-danger mt-3">
                        <strong>Error en el formulario:</strong>
                        {{ miFormulario.non_field_errors }}
                        {{ miFormulario.cargo.errors }}
                        {{ miFormulario.empresa.errors }}
                        {{ miFormulario.fecha_inicio.errors }}
                        {{ miFormulario.fecha_fin.errors }}
                      </div>
                    {% endif %}
                    <form method="POST" enctype="multipart/form-data" class="mb-3">{% csrf_token %}
                      <div class="mb-3">
                        <label for="{{ miFormulario.titulo.id_for_label }}" class="form-label">{{ miFormulario.titulo.label }}</label>
                          {{ miFormulario.titulo }}
                      </div>
                      <div class="mb-3">
                        <label for="{{ miFormulario.contenido.id_for_label }}" class="form-label">{{ miFormulario.contenido.label }}</label>
                          {{ miFormulario.contenido }}
                      </div>
                      <div class="mb-3">
                        <label for="{{ miFormulario.imagen.id_for_label }}" class="form-label">{{ miFormulario.imagen.label }}</label>
                          {{ miFormulario.imagen }}
                      </div>
                      <div class="mb-3">
                        <input class="btn btn-primary" type="submit" value="Guardar nuevo skill">
                      </div>
                    </form>
                    {% if resp %}
                    <div class="alert alert-info" role="alert">
                      {{resp}}
                    </div>
                    {% endif %}
                  </section>
                </div>
              </div>
             <!-- section search-->
             <div class="card" style="margin-top: 20px;">
              <div class="card-header">
                Buscar Contenido (por titulo)
              </div>
              <div class="card-body">
                <section style="margin-bottom: 50px;">  
                  <form action="{% url 'PublicacionSearch' %}" method="GET" class="mb-3">{% csrf_token %}
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Titulo a buscar:</label>
                      <input type="text" class="form-control" name="pub_search" id="pub_search" placeholder="PHP">
                    </div>
                    <div class="mb-3">
                      <input class="btn btn-primary" type="submit" value="Buscar">
                    </div>
                  </form>
                  {% if respSearch %}
                  <div class="alert alert-info" role="alert">
                    {{respSearch}}
                  </div>
                  {% endif %}
                  <div class="card-body">
                    <section>
                      {% if pubSearch %}
                      <table class="table caption-top">
                          <thead>
                            <tr>
                              <th scope="col">Publicacion</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for r in pubSearch %}
                            <tr>
                              <td>{{r.titulo}}</td>
                            </tr>
                            {% endfor%}
                          </tbody>
                      </table>
                      {% endif %}
                  </section>
                </section>
              </div>
              </div>
              <!-- section list-->
              <section style="margin-top: 40px;">
                {% for info in publicacion %}
                <div class="card mb-3" style="margin-top: 40px;">
                  {% if info.imagen %}
                  <img src="{{info.imagen.url}}" class="card-img-top" alt="...">
                  {% else %}
                  <img src="" class="card-img-top" alt="...">
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{info.titulo}}</h5>
                    <p class="card-text">{{info.contenido}}</p>
                    <p class="card-text"><small class="text-body-secondary">Autor:<a href="{% url 'unperfil' nombre=info.user %}">{{info.user}}</a>--<a href="{% url 'EditaPublicacion' id=info.id %}">[Modificar]</a>--<a href="{% url 'EliminaPublicacion' id=info.id %}">[Eliminar]</a></small></p>
                  </div>
                </div>
                {% endfor%}
              </section>
              
        </div>
    </div>
</div>
{% endblock %}